@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Music List";
}

<link rel="stylesheet" type ="text/css" href="~/css/modal.css" />
<link rel="stylesheet" type ="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />

<div id="delmodal" class="modal">
    <div class="modal-content">
        <p id="deltext">Confirm delete song?</p>
        <div id="btncollection">
           
            <input type="hidden" id="delid" value="" />
            <button id="delbtn" class="btn-primary" style="width:200px">OK</button>
            <button id="delcancelbtn" class="btn-danger" style="width:200px">Cancel</button>
        </div>
    </div>
</div>
<div id="statusmodal" class="modal">
    <div class="modal-content">
        <p id="statustext">&nbsp;</p>
    </div>
</div>
    <div id="content">
        <h1>@ViewData["Title"]</h1>
        <button id="addbtn" class="addbtn btn-primary">Add Music</button>
        <div>
            <table id="musictable" class="table table-hover table-light table-borderless">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th></th>
                        <th>Song Title</th>
                        <th>Artist</th>
                        <th>Genre</th>
                        <th>Description</th>
                        <th width="120px">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (DataRow item in Model.Rows)
                    {
                        <tr>
                            <td>@item["musicid"]</td>
                            <td><img style ="height:150px"src="@item["img"]" /></td>
                            <td>@item["title"]</td>
                            <td>@item["artist"]</td>
                            <td>@item["genre"]</td>
                            <td>@item["description"]</td>
                            <td>@Html.Raw(item["button"])</td>

                        </tr>
                    }

                </tbody>

            </table>
        </div>


    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

    <script>
        var musictable;
       
        $(".addbtn").on("click", function () {
            window.location.href = "/MusicList/Create";
        })

      

        $("#musictable").on("click", ".remove", function () {
            var data = musictable.row($(this).parents('tr')).data();
            $("#delmodal").fadeIn(200);
            $("#deltext").html("Confirm delete song '" + data[2] + " - " + data[1] + "' ?");
            $("#delid").val(data[0]);


        })


        $("#cancelbtn").on("click", function () {
            $("#addmodal").fadeOut(100);
            $("#musicform")[0].reset();
            $("#status").html("");
            $("#img").attr("src", "#");
        })

        $("#addmodalclosebtn").on("click", function () {
            $("#addmodal").fadeOut(100);
            $("#musicform")[0].reset();
            $("#status").html("");
            $("#img").attr("src", "#");
        })

        $("#delcancelbtn").on("click", function () {
            $("#delmodal").fadeOut(100);


        })



        $(document).ready(function () {
            $.noConflict();
            musictable = $("#musictable").DataTable({

            });

        });


        $("#delbtn").on("click", function (){
            if ($("#delid").val() != null) {
                var id = $("#delid").val();
                var url = "/MusicList/Delete"
                $.post(url, { id: id }, function (data) {
                    console.log(data);
                    $("#delmodal").fadeOut(100);
                    $("#delid").val("");

                })
            }
        })
    </script>
